<div class="text-center" style="padding:50px 0">
  <div class="logo">Log in</div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="login-form-1">
      <form id="login-form" class="text-left">
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <%= f.label :email, class: "sr-only" %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "sr-only" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? -%>
              <div class="form-group login-group-checkbox">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
          <p>forgot your password? <a href="#">click here</a></p>
          <p>new user? <a href="/users/sign_up">create new account</a></p>
        </div>
      </form>
    </div>
  <% end %>
</div>
